:root {
  /* COLORS */
  --white-pure: #ffffff;
  --white-not-pure: #fcfaf7;
  --green-regular: #26877f;
  --green-darker: #175651;
  --brown-darker: #392f29;
  --brown-regular: #483b33;
  --brown-light: #997c6a;

  /* FONT-SIZE */
  --fs-6: 2.488rem;
  --fs-5: 2rem;
  --fs-4: 1.728rem;
  --fs-3: 1.44rem;
  --fs-2: 1.2rem;
  --fs-1: 1rem;

  /* SPACING */
  --spacing-8: 8px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-104: 104px;
}

/* || HERO */

.hero {
  background-color: #392f29; /* fallback background for old browsers */
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url(/imgs/hero.webp);
  min-height: 34vh;
}

.hero__title {
  color: var(--white-pure);
  font-size: var(--fs-6);
}

/* || ABOUT */
.about__title_row {
  display: flex;
  margin-top: var(--spacing-104);
}

.col {
  width: 50%;
}

.about__overline {
  font-size: var(--fs-4);
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: var(--spacing-16);
}

.about__title {
  font-size: var(--fs-6);
  text-transform: uppercase;
  font-weight: 800;
}

.about__text {
  font-size: var(--fs-2);
}

.about__text:first-child {
  margin-bottom: var(--spacing-16);
}

@media (max-width: 800px) {
  .about__title_row {
    flex-direction: column;
    text-align: center;
  }
  .col {
    width: 100%;
  }

  .about__title {
    margin-bottom: var(--spacing-32);
  }
}

/* || SERVICES */

.services {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .services {
    grid-template-columns: 1fr;
  }
}
