/* || RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --white-pure: #ffffff;
  --white-not-pure: #fcfaf7;
  --green-regular: #26877f;
  --green-darker: #175651;
  --brown-darker: #392f29;
  --brown-regular: #483b33;

  /* FONT-SIZE */
  --fs-5: 2.488rem;
  --fs-4: 1.728rem;
  --fs-3: 1.44rem;
  --fs-2: 1.2rem;
  --fs-1: 1rem;

  /* SPACING */
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-104: 104px;
}

/* || SITEWIDE */

/* || UTILITY CLASSES */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 var(--spacing-32);
}

@media (min-width: 700px) {
  .container {
    padding: 0 var(--spacing-16);
  }
}
/* || GENERAL STYLES */

html {
  font-family: "Lora", serif;
}

body {
  background-color: var(--white-not-pure);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* || HEADER */

.header {
  margin: 0 auto;
  text-align: center;
  padding: 32px 0 56px;
}

.header__logo {
  margin-bottom: var(--spacing-32);
  width: 64px;
  height: 100%;
}

.header__hamburger {
  width: 3rem;
  height: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0 0 auto;
}

.header__hamburger span {
  width: 100%;
  height: 3px;
  background-color: #392f29;
}

@media (max-width: 800px) {
  .header__logo_container {
    display: flex;
    align-items: center;
  }

  .header__hamburger {
    display: flex;
  }
}

/* || NAV  DESKTOP*/

.nav-desktop {
  font-size: var(--fs-3);
}

.nav-desktop__ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.nav-desktop__li {
  list-style: none;
}

.nav-desktop__a {
  color: var(--brown-darker);
}

.nav-desktop__a:hover,
.nav-desktop__a:focus {
  color: var(--green-darker);
  font-weight: 500;
}

.nav-desktop__current {
  font-weight: 800;
}

.nav-desktop__current:hover,
.nav-desktop__current:focus {
  color: var(--brown-darker);
  font-weight: 800;
}
@media (max-width: 800px) {
  .nav-desktop {
    display: none;
  }
}

/* || NAV MOBILE */
.nav-mobile {
  display: none;
}

@media (max-width: 800px) {
  .nav-mobile {
    display: none;
    height: 100%;
    width: 100%;
    background-color: var(--green-darker);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: var(--spacing-64);
  }

  .nav-mobile__closeBtn {
    font-size: 64px;
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
  }

  .nav-mobile__ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .nav-mobile__a {
    font-size: var(--fs-3);
    color: var(--white-pure);
  }

  .nav-mobile__a:hover {
    font-weight: 800;
  }

  .nav-mobile__current {
    font-weight: 800;
  }
}

/* || HERO */

.hero {
  background-color: #392f29; /* fallback background for old browsers */
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    ),
    url(/imgs/hero.webp);
  background-size: cover;
  background-position: center;

  min-height: 54vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  max-width: 1170px;
}

.hero__card {
  background-color: rgba(252, 250, 247, 0.93);
  width: 60%;
  padding: var(--spacing-32);
}

.hero__overline {
  font-size: var(--fs-3);
  margin-bottom: var(--spacing-16);
}

.hero__title {
  font-size: var(--fs-5);
  text-transform: uppercase;
  margin-bottom: var(--spacing-32);
}

.hero__btns {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 944px) {
  .hero__card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .hero__btns {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
/* || SERVICES */

.services {
  padding: var(--spacing-104) 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  text-align: center;
}

.services_hrgroup {
  grid-column-start: 1;
  grid-column-end: -1;
  gap: 32px;
}

.services__title {
  font-size: var(--fs-5);
  margin-bottom: var(--spacing-16);
}

.services__subtitle {
  font-size: var(--fs-4);
  margin-bottom: var(--spacing-48);
}

.services__img {
  margin-bottom: var(--spacing-16);
}

.services__caption {
  font-size: var(--fs-3);
}

@media (max-width: 800px) {
  .services {
    grid-template-columns: 1fr;
  }
}

/* || FOOTER */

.footer {
  background-color: var(--green-darker);
  color: var(--white-pure);
  padding: var(--spacing-104) 0 var(--spacing-32);
  font-size: var(--fs-1);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  margin-bottom: var(--spacing-64);
}

.footer__col {
  width: 50%;
  gap: 32px;
}

.footer__left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer__text_left_col {
  width: 20%;
}

.footer__text_right_col {
  width: 80%;
}

.footer__text {
  margin-bottom: var(--spacing-24);
  line-height: 1.6;
}

.footer__logo {
  width: 450px;
}

.footer__right {
  text-align: right;
}
.footer__copyright {
  font-size: var(--fs-2);
}

.footer__credits {
  text-align: center;
  color: rgb(255, 255, 255, 0.8);
  font-size: var(--fs-2);
}

@media (max-width: 800px) {
  .footer {
    text-align: center;
  }

  .footer__col {
    width: 100%;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__left {
    flex-direction: column;
  }

  .footer__right {
    text-align: inherit;
  }
}

/* || ABOUT */
/* || CONTACT */

/* || COMPONENTS */

.btn {
  display: inline-block;
  font-size: var(--fs-2);
  color: var(--white-pure);
  padding: 0.5em 1.1em;
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--green-regular);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--green-darker);
}

.btn-secondary {
  background-color: var(--brown-regular);
}

.btn-secondary:hover,
.btn-primary:focus {
  background-color: var(--brown-darker);
}
